/* Main Page CSS Elements */

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Open+Sans&display=swap');

:root {
    --main-bg-color: #182033;
    --main-font: white;
    --card-alt-header: #45475f;
    --header-font-size: min(max(2.5vw, 20px), 32px);
}

body {
    background-color: var(--main-bg-color);
    margin: 0px;
    font-family: 'Lato', sans-serif;
    color: var(--main-font);
}

/* Top Header CSS Elements */

header {
    background-color: var(--main-bg-color);
    height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--header-font-size);
}

/* Navbar CSS Elements */

#navbar {
    height: 10vh;
    margin: auto;
    background-color: var(--card-alt-header);
    color: white;
    display: flex;
    justify-content: center;
}

#navbar ul {
    height: 100%;
    width: 75%;
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    
}

#navbar ul li {
    border-radius: 20px 0 0 0;
    font-size: max(2vw, 20px);
    padding: 0 4px 0 4px;
    background-color: linear-gradient(to top, var(--main-bg-color), var(--card-alt-header));
    height: 75%;
    display: flex;
    align-items: center;
    
}

#navbar li:hover {
    color: grey;
    cursor: pointer;
}

/* Main Section of Page */

#container {
    display: flex;
    background-color: var(--main-bg-color);
    flex-direction: row;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Projects CSS Elements */

#Projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.card {
    background-color: var(--card-alt-header);
    height: max(450px, 30vh);
    width: max(300px, 20vh);
    margin: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card button {
    margin-bottom: 3px;
}

.cardfilled {
    height: max(450px, 30vh);
    width: max(300px, 20vh);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.cardfilled a {
    height: 100%;
    width: 100%;
}

.cardfilled img {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    border: 2px solid black;
}

/* Home CSS Elements */

#Home {
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: max(3.5vw, 20px);
}

#inlineScroll {
    text-align: left;
    margin-left: 25%;
    
}

#pause {
    position: fixed;
    margin-top: max(20px, 3.5vw);
}
#play {
    position: fixed;
    margin-top: max(20px, 3.5vw);
}

#pause:hover {
    color: rgb(122, 31, 31);
    cursor: pointer;
}

#play:hover {
    color: rgb(122, 31, 31);
    cursor: pointer;
}